<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Qualification</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let qualification of qualifications | async">
      <tr>
        <td>
          <span *ngIf="!toEdit(qualification)">{{ qualification.skill }}</span>
          <input
            *ngIf="toEdit(qualification)"
            type="text"
            placeholder="{{ qualification.skill }}"
            [(ngModel)]="qualification.skill" 
          />
        </td>
        <td>
          <button
            *ngIf="!toEdit(qualification)"
            (click)="onEdit(qualification)"
          >
            Edit
          </button>
          <button *ngIf="toEdit(qualification)" (click)="onSave(qualification)">
            Save
          </button>
        </td>
        <td>
          <button (click)="onDelete(qualification)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
