* {
  color: white;
}

td {
  background-color: #828282;
}

button {
  background-color: #610a0a;
  border: none;
}

th {
  background-color: #828282;
  color: white;
}

input {
  color: black;
}

.tableSkill {
  width: 80%;
}
