<table
  class="table table-striped table-hover"
  *ngIf="!showingDetails && !showingEdit"
>
  <thead>
    <tr>
      <th colspan="1">Lastname</th>
      <th colspan="1">Firstname</th>
      <th colspan="4">Qualifications</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let e of employees | async">
      <tr>
        <td>{{ e.lastName }}</td>
        <td>{{ e.firstName }}</td>
        <td>
          {{ qualificationsString(e) | ellipsis: 20 }}
        </td>
        <td>
          <button (click)="showDetails(e)">Details</button>
        </td>
        <td>
          <button (click)="showEdit(e)">Edit</button>
        </td>
        <td>
          <button (click)="delete(e)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<!-- <app-employee-details> -->
<div *ngIf="showingDetails || showingDelete">
  <app-employee-details
    [isDeleteConfirm]="showingDelete"
    (close)="hideEdit()"
  ></app-employee-details>
</div>
<div *ngIf="showingEdit">
  <app-employee-details
    [isReadOnly]="false"
    (close)="hideEdit()"
  ></app-employee-details>
</div>
