<table *ngIf="!showingDetails && !showingEdit">
  <thead>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Qualifications</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody *ngFor="let e of employees | async">
    <td>{{ e.lastName }}</td>
    <td>{{ e.firstName }}</td>
    <td>
      {{ qualificationsString(e) | ellipsis: 20 }}
    </td>
    <td>
      <button (click)="showDetails(e)" class="btn btn-info btn-sm">
        Details
      </button>
    </td>
    <td>
      <button (click)="showEdit(e)" class="btn btn-primary btn-sm">Edit</button>
    </td>
    <td>
      <button (click)="delete(e)" class="btn btn-danger btn-sm">Delete</button>
    </td>
  </tbody>
</table>
<!-- <app-employee-details> -->
<div *ngIf="showingDetails || showingDelete">
  <app-employee-details
    [isDeleteConfirm]="showingDelete"
    (close)="hideEdit()"
  ></app-employee-details>
</div>
<div *ngIf="showingEdit">
  <app-employee-details
    [isReadOnly]="false"
    (close)="hideEdit()"
  ></app-employee-details>
</div>
