<div class="search-qualification-wrapper">
  <input type="text" [(ngModel)]="searchFor" (input)="onFilterType()" />
  <table class="table table-striped table-hover">
    <tbody>
      <ng-container *ngFor="let qualification of qualifications | async">
        <tr (click)="selectQualification(qualification)" style="cursor: pointer;">
          <td>
            <span>{{ qualification.skill }}</span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="dismiss()">Close</button>
</div>
