.root-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 10% 1fr;
  height: 100vh;
}

.nav-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-logout {
  margin-top: auto;
}
